.reg-section-main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, rgb(255, 255, 255), #ADD8E6);
    
    .reg-div-tittle{
        font-size: 22px;
        text-align: center;
        margin-bottom: 50px;
    }

    input{
        resize: none;
        width: 300px;
        height: 26px;
        margin: 8px 0 30px 0;
        border-width: 0 0 1px 0;
        outline: none;
        font-size: 16px;
        overflow-x:scroll;
        overflow-y: hidden; /* Sem rolagem vertical */
        white-space: nowrap; /* Impede a quebra de linha para forçar rolagem horizontal */
        background-color: #ffffff00;

    }
    input::-webkit-scrollbar{
        height: 4px;
    }
    input::-webkit-scrollbar-thumb {
        background: #a2a1a1; 
        border-radius: 8px;
    }

    p{
        font-size: 22px;
        
    }


 

 
}