
.side-section-main{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(78, 102, 105), #def5fd);
    border-radius: 0px 7px 0px 0px;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    z-index: 2000;

    hr{
        margin: 0px 5px 0px 5px;
    }

    a{
        text-decoration: none;
        color: black;
    }
    .div-link{
        height: 50px;    
        display: flex;
        align-items: center;
        padding-left: 10%;
        font-size: 18px;
            
    }

}