.section-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .section-body {
    padding-top: 49px;
  }
  
  .section-side-App {
    width: 30%; /* Largura da sidebar */
    height: 100vh; /* Altura da viewport */
    position: fixed; /* Fixa a sidebar */
    transform: translateX(-102%); /* Inicialmente fora da tela */
    transition: transform 0.3s ease; /* Transição suave */
    z-index: 2;
  }
  
  .section-side-App.open {
    transform: translateX(0); /* Desliza para dentro */
  }
