.bs-div-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .bs-button-submit{
        width: 140px;
        height: 50px;
        border-radius: 20px;
        border-width: 1px;
        background-color: #e8e9ee;
        cursor: pointer;
    }
}