.home-section-main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    background: linear-gradient(to top, rgb(255, 255, 255), #ADD8E6); /* Substitua #ADD8E6 pela cor desejada para o degradê */

    .home-div-tittle{
        font-size: 38px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .home-div-description{
        width: 70%;
        font-size: 27px;
        font-family: 'Courier New', Courier, monospace;
        text-align: justify;
        hyphens: auto;
        
        h1{
            margin-top: 50px;
            font-size: 25px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            hyphens: auto;
            
        }
        

    }
}