
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-section-main {
    background: linear-gradient(to top, rgb(223, 251, 255), #ADD8E6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 99.92%;
    height: 50px; /* Altura da barra superior */
    border-style: solid;
    border-color: black;
    border-radius: 0px 0px 8px 8px;
    border-width: 1px;
    


    .top-div-menu, .top-div-search {
        cursor: pointer;
        margin: 2px 5px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Para ocupar a altura total da barra superior */
        flex: 0 0 auto; /* Não deixar expandir */

        img{
            margin-bottom: -3px;
        }

        button{
            background-color: #ffffff00;
            border-width: 0;
            height: max-content;
            margin-bottom: 3px;
            cursor: pointer;
        }
    }

    .top-div-centro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1; /* Expandir para ocupar espaço disponível */
        height: 100%; /* Para ocupar a altura total da barra superior */

        .top-div-logo {
            cursor: pointer;
            position: absolute;
            
            a{
                all: unset;
                display: inline;
            }

            h1{
                font-size: 25px;
                font-style: italic;
            }
        }
    }

}